.document-layout-widget .header-content {
    position: fixed;
    top: 0;
    width: 100%;
}

.document-layout-widget .layout-table {
    width: 100%;
}

.document-layout-widget .layout-table > thead {
    break-inside: avoid;
}

.document-layout-widget .layout-table > tfoot {
    break-inside: avoid;
}

.document-layout-widget .footer-content {
    position: fixed;
    bottom: 0;
    width: 100%;
}
